<% content_for(:title, prismic(playlist,'title')) %>
<% content_for(:description, truncate(prismic(playlist,'description'), 160)) %>
<% content_for(:image, prismic(playlist,'image')) %>
<div id="breadcrumbs">
  <a href="/">
    <i class="fa fa-home" aria-hidden="true"></i>
    Home
  </a>
  <span class="separator">/</span>
  <a href="/playlists.html">
    <span>Playlists</span>
  </a>
  <span class="separator">/</span>
  <span class="current"><%= prismic(playlist,'title') %></span>
</div>
<div id="playlist">
  <div class="column fixed">
    <div class="image-container">
      <%= image_tag prismic(playlist,'image') %>
    </div>
    <div class="iframe-container">
      <iframe height="265" width="100%" src="<%= prismic(playlist,'embed') %>?color=FFB923&hideTitle=1&hideCurator=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
  <div class="column padded">
    <h2><%= prismic(playlist,'title') %></h2>
    <div class="details">
      <%= prismic(playlist,'season') %> --- <%= prismic(playlist,'date') %>
    </div>
    <p class="description">
      <%= prismic(playlist,'description', true) %>
    </p>
  </div>
</div>
