<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= partial "shared/metatags" %>
    <%= stylesheet_link_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body>
    <%= yield %>
    <%= partial "shared/propose_modal" %>
    <%= partial "shared/alert" %>
    <%= javascript_include_tag "application" %>
    <script>
      var signUp = document.querySelector("#mc-embedded-subscribe-form");
      var submitButton = document.querySelector("#mc-embedded-subscribe");
      var close;

      function updateMsg(cssClass, msg) {
        clearTimeout(close);
        document.querySelector('#alert').classList = '';
        document.querySelector('#alert').classList.add(cssClass);
        document.querySelector('#alert').classList.add('alert-appears');
        document.querySelector('#message').innerText = msg;
        close = setTimeout((function() { closeAlertMessage(); }), 10000);
      }

      function register(form) {
        var msgSuccess = 'Merci pour ton inscription. N\'oublie pas de valider ton adresse mail !' ;
        var msgError = 'Oups, une erreur est survenue :(';

        fetch(form.action + '&EMAIL=' + form[0].value + '&c=', {
            method: form.method,
            mode: 'no-cors',
            headers: {
              'Content-Type': 'application/json; charset=utf-8'
            },
          }).then(function() {
            updateMsg('success', msgSuccess);
          }).catch(function(error) {
            updateMsg('error', msgError);
          });
      }

      function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email)
      }

      function subscribe(e) {
        e.preventDefault();
        var email = signUp[0].value;
        if (validateEmail(email)) {
          register(signUp);
        } else {
          var invalidEmail = "Ton mail ne semble pas valide..."
          updateMsg('error', invalidEmail);
        }
      }

      submitButton.addEventListener('click', subscribe);
    </script>
  </body>
</html>
