<!doctype html>
<html>
  <head>
    <%= partial "shared/google_analytics" %>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= partial "shared/metatags" %>
    <%= stylesheet_link_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>
  <body>
    <%= partial "shared/navbar" %>
    <%= yield %>
    <%= partial "shared/propose_modal" %>
    <%= partial "shared/alert" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
