---
title: Toutes nos playlists
---
<h1>Retrouver toutes nos playlistes passées</h1>

<div class="playlist-cards">
  <% playlists.each do |playlist| %>
    <div class="playlist-card">
      <div class="image-container">
        <%= image_tag prismic(playlist,'image') %>
      </div>
      <p class="date"><%= prismic(playlist,'date') %></p>
      <h2><%= prismic(playlist,'title') %></h2>
      <hr>
      <p class="description"><%= truncate(prismic(playlist,'description'), 100) %></p>
      <p class="season"><%= prismic(playlist,'season') %></p>
      <a href="<%= "/playlists/#{playlist.slugs.first}.html" %>"></a>
    </div>
  <% end %>
</div>
