---
title: Toutes nos playlists
---
<div id="breadcrumbs">
  <a href="/">
    <i class="fa fa-home" aria-hidden="true"></i>
    Home
  </a>
  <span class="separator">/</span>
  <span class="current">Playlists</span>
</div>
<div class="ws-container">
  <h2 class="text-center padded-up">Retrouver toutes nos playlists</h2>
  <div class="playlist-cards">
    <% playlists.each do |playlist| %>
      <div class="playlist-card">
        <div class="image-container">
          <%= image_tag prismic(playlist,'image') %>
        </div>
        <p class="date"><%= prismic(playlist,'date') %></p>
        <h3><%= prismic(playlist,'title') %></h3>
        <hr>
        <p class="description"><%= truncate(prismic(playlist,'description'), 170) %></p>
        <p class="season"><%= prismic(playlist,'season') %></p>
        <a href="<%= "/playlists/#{playlist.slugs.first}.html" %>"></a>
      </div>
    <% end %>
  </div>
</div>
